# Visual Studio
.vs/
.vscode/
*.user
*.suo
*.userosscache
*.sln.docstates

# .NET
bin/
obj/
out/
*.log
*.tlog
*.tmp

# NuGet
*.nupkg
*.snupkg
.nuget/
packages/
*.dSYM
*.pdb

# Miscellaneous
*.class
*.pyc
*.pyo
*.sqlite
*.swp